/* src/App.css */
/* src/App.css */

  
.board {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 40px;
    padding-left: 80px;
    /* margin-top: 5vh; 상단 여백을 화면 높이의 5%로 설정 */
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgba(255, 192, 203);
    /* padding: 2vw; 바탕에 여백을 화면 너비의 2%로 설정 */
    /* width: 90vw; 요소의 너비를 화면 너비의 90%로 설정 */
    /* max-height: 100vh; 최대 높이를 화면 전체 높이로 제한 */
    height: 700px;
    width: 1000px;
    overflow-y: auto; /* 세로 스크롤바 활성화 */
    border-radius: 15px;
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  }
  .board h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  
  /* 모바일 화면 크기에 대한 스타일 */
  @media screen and (max-width: 768px) {
    .board input[type="text"],
    .board textarea {
      width: 90%; /* 모바일 화면에서는 너비를 더 넓게 설정합니다. */
      min-width: 200px; /* 최소 너비를 설정하여 너무 작아지지 않도록 합니다. */
      min-height: 200px; /* 최소 너비를 설정하여 너무 작아지지 않도록 합니다. */
    }
  }
  
  
  
  
  
  
  
  
  
  .board input[type="text1"]{
    /* width: 10%; */
    width: 120px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(250, 228, 231, 0.5);
    border: none;
    border-radius: 10px;
  }
  
  .category{
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(250, 228, 231);
  }
  .category:hover{
    background-color: rgb(255, 219, 223);
    color: white;
  }

  .board input[type="text2"]{
    /* width: 40%; */
    width: 360px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(250, 228, 231);
    border: none;
    border-radius: 10px;
  }
  
  
  .board input[type="text"],
  .board textarea {
    width: 90%;
    height: 35%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(250, 228, 231);
    border: none;
    border-radius: 10px;
  }
  
  .board button {
    /* display: block; */
    margin: 10px 0;
    padding: 8px 12px;
    /* border: none; */
    border-radius: 10px;
    /* cursor: pointer; */
    /* background-color: #cc0000; 더 짙은 분홍색 */
    background-color: rgba( 252, 158, 174, 0.5);
    border-color: pink;
    color: rgba(0, 0, 0);
    /* margin: 10px; */
    /* color: white; */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .board button:hover {
    /* background-color: #aa0000; 더 어두운 분홍색 */
    background-color: rgb(250, 145, 162);
    color: white;
  }
  .board button:active {
    /* background-color: #aa0000; 더 어두운 분홍색 */
    background-color: rgb(250, 145, 162);
  }
  
  .image-preview {
    margin-top: 10px;
  }
  
  .image-preview img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  
  
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 작성 완료 및 취소 버튼 컨테이너 스타일 */
  .button-container {
    display: block;
    text-align: center;
    /* justify-content: space-between; 버튼들을 컨테이너 양쪽으로 정렬 */
    margin-top: 10px; /* 버튼과 내용 사이 간격 설정 */
    
  }
  
  .button-container button {
    margin-right: 10px; /* 오른쪽 마진을 추가하여 버튼들 간의 간격을 조절 */
  }
  
  .input-container {
    margin-top: 10px; /* 위쪽 여백 추가 */
  }
  
  .input-container input[type="file"] {
    /* input 요소의 스타일 */
    padding: 8px;
    /* border: 1px solid rgb(250, 191, 191); 분홍색 계열의 테두리 */
    border-radius: 10px;
    background-color: rgb(250, 228, 231, 0.5);
  }
  
  .input-container p {
    /* p 요소의 스타일 */
    color: rgb(250, 191, 191); /* 분홍색 계열의 글자색 */
    margin-top: 5px; /* 위쪽 여백 추가 */
  }
  
  
  