.mlist_details1{
  display: block;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* margin-top: 100px; */
  /* margin-left: 50px; */
  height: 750px;
  width: 1050px;
  border-radius: 15px;
  /* background-color: rgba(255, 192, 203); */
  background-color: white;
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
  0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  border: none;
}
.mlist_details2{
  display: block;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  margin-top: 50px;
  /* margin-left: 50px; */
  height: 750px;
  width: 1050px;
  border-radius: 15px;
  background-color: rgba(255, 192, 203);
  /* box-shadow: -0.2rem 0 0.7rem rgba(0, 0, 0, 0.25),
                             0 0.2rem 0.7rem rgba(0, 0, 0, 0.25),
                             0 0.2rem 0.7rem rgba(0, 0, 0, 0.25); */
  border: none;
}
.mlist_details3{
  display: block;
  position: absolute;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding-top: 30px;
  padding-left: 20px;
  margin-top: -690px;
  margin-left: 130px;
  height: 75px;
  width: 600px;
  background-color: rgb(250, 228, 231, 0.5);
  /* background-color: blue; */
  /* box-shadow: 0 -0.2rem 0.7rem rgba(0, 0, 0, 0.25),
                             0.2rem 0 0.7rem rgba(0, 0, 0, 0.25),
                             0 0.2rem 0.7rem rgba(0, 0, 0, 0.25); */
  border: none;
}
.mlist_details4{
  position: absolute;
  display: block;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 15px;
  margin-top: -615px;
  margin-left: 130px;
  height: 280px;
  width: 600px;
  background-color: rgb(250, 228, 231);
  /* background-color: black; */
  /* box-shadow: 0 -0.2rem 0.7rem rgba(0, 0, 0, 0.25),
                             0.2rem 0 0.7rem rgba(0, 0, 0, 0.25),
                             0 0.2rem 0.7rem rgba(0, 0, 0, 0.25); */
  border: none;
}
.mlist_details5{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 15px;
  margin-top: -465px;
  margin-left: 735px;
  height: 418px;
  width: 310px;
  border-radius: 0 0 15px 15px;
  background-color: rgb(250, 228, 231, 0.8);
  /* background-color: black; */
  /* box-shadow: 0 -0.2rem 0.7rem rgba(0, 0, 0, 0.25),
                             0.2rem 0 0.7rem rgba(0, 0, 0, 0.25),
                             0 0.2rem 0.7rem rgba(0, 0, 0, 0.25); */
  border: none;
  overflow: auto;
}
.gv_planList {
  height: 90%;
}
.mlist_details6{
  position: absolute;
  display: block;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 15px;
  margin-top: -465px;
  margin-left: 735px;
  height: 418px;
  width: 310px;
  border-radius: 0 0 15px 15px;
  background-color: rgb(250, 228, 231, 0.8);
  /* background-color: black; */
  /* box-shadow: 0 -0.2rem 0.7rem rgba(0, 0, 0, 0.25),
                             0.2rem 0 0.7rem rgba(0, 0, 0, 0.25),
                             0 0.2rem 0.7rem rgba(0, 0, 0, 0.25); */
  border: none;
  visibility: hidden;
}
.mlist_details7{
  position: absolute;
  display: block;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 10px;
  margin-top: -330px;
  margin-left: 5px;
  height: 283px;
  width: 725px;
  border-radius: 0 0 15px 0;
  background-color: rgb(250, 228, 231);
  /* background-color: black; */
  /* box-shadow: 0 -0.2rem 0.7rem rgba(0, 0, 0, 0.25),
                             0.2rem 0 0.7rem rgba(0, 0, 0, 0.25),
                             0 0.2rem 0.7rem rgba(0, 0, 0, 0.25); */
  border: none;
}
.mlist_details8{
  position: absolute;
  display: block;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 10px;
  margin-top: -5px;
  margin-left: -5px;
  height: 228px;
  width: 715px;
  border-radius: 0 0 15px 0;
  /* background-color: rgb(250, 228, 231); */
  background-color: rgb(243, 179, 188, 0.5);
  /* background-color: black; */
  /* box-shadow: 0 -0.2rem 0.7rem rgba(0, 0, 0, 0.25),
                             0.2rem 0 0.7rem rgba(0, 0, 0, 0.25),
                             0 0.2rem 0.7rem rgba(0, 0, 0, 0.25); */
  border: none;
  overflow: auto;
}

.mli_box1{
  display: block;
  /* margin: 0 auto; */
  /* margin-top: 10px; */
  text-align: center;
  height: 60px;
  line-height: 70px;
  /* width: 6.7vw; */
  width: 129px;
  min-width: 100px;
  margin-right: 5px;
  border-radius: 15px 15px 0 15px;
  background-color: rgb(252, 158, 174);
}
.mli_box2{
  display: block;
  text-align: center;
  height: 60px;
  line-height: 70px;
  width: 5vw;
  min-width: 100px;
  margin-left: 130px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: rgb(252, 158, 174);
}
.mli_box3{
  position: absolute;
  display: block;
  text-align: center;
  height: 200px;
  line-height: 70px;
  /* width: 10vw; */
  width: 200px;
  min-width: 100px;
  margin-top: 30px;
  margin-left: 320px;
  border-radius: 50%;
  background-color: rgb(252, 158, 174);
}
.mli_box3 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.mli_box4{
  display: block;
  /* margin: 0 auto; */
  margin-top: 10px;
  text-align: center;
  height: 65px;
  line-height: 70px;
  /* width: 6.7vw; */
  width: 129px;
  min-width: 100px;
  border-radius: 15px;
  background-color: rgb(252, 158, 174);
}
.mli_box5{
  display: block;
  /* margin: 0 auto; */
  margin-top: 70px;
  text-align: center;
  /* height: 70px; */
  line-height: 40px;
  /* width: 6.7vw; */
  width: 129px;
  min-width: 100px;
  margin-top: 50px;
  border-radius: 15px;
  background-color: rgb(252, 158, 174);
  white-space: pre-wrap;
}

.mlist_details_id{
  max-width: 0px;
}
.mlist_details_date{
  max-width: 110px;
}

.mlist_head{
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}
.mswitchBtn1{
  position: absolute;
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  color: rgba(0, 0, 0);
  margin-top: -60px;
  /* margin-left: 70%; */
  margin-left: 734px;
}
.mswitchBtn1:hover{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  transition: background-color 0.3s ease;
}
.mswitchBtn1:hover:active{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
}
.mswitchBtn2{
  position: absolute;
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  color: rgba(0, 0, 0);
  margin-top: -60px;
  /* margin-left: 70%; */
  margin-left: 734px;
  visibility: hidden;
}
.mswitchBtn2:hover{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  transition: background-color 0.3s ease;
}
.mswitchBtn2:hover:active{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
}
.mchangeBtn{
  position: absolute;
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  color: rgba(0, 0, 0);
  margin-top: 400px;
  /* margin-left: 70%; */
  margin-left: 350px;
  visibility: hidden;
}
.mchangeBtn2{
  position: absolute;
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  color: rgba(0, 0, 0);
  margin-top: 400px;
  /* margin-left: 70%; */
  margin-left: 450px;
  visibility: hidden;
}
.mchangeBtn:hover{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  transition: background-color 0.3s ease;
}
.mchangeBtn:hover:active{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
}
.mBtn{
  position: absolute;
  margin-top: 403px;
  margin-left: 350px;
  /* transform: translateX(-98px); */
}
.mBtn1{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  color: rgba(0, 0, 0);
}
.mBtn2{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  color: rgba(0, 0, 0);
  margin-left: 20px;
  margin-right: 20px;
}
.mBtn3{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  color: rgba(0, 0, 0);
  margin-right: 20px;
}
.mBtn4{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  color: rgba(0, 0, 0);
}
.mBtn1:hover{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  transition: background-color 0.3s ease;
}
.mBtn1:hover:active{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
}
.mBtn2:hover{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  transition: background-color 0.3s ease;
}
.mBtn2:hover:active{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
}
.mBtn3:hover{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  transition: background-color 0.3s ease;
}
.mBtn3:hover:active{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
}
.mBtn4:hover{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  transition: background-color 0.3s ease;
}
.mBtn4:hover:active{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
}

.mtitle_modify{
  display: block;
  position: absolute;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding-top: 3px;
  padding-left: 20px;
  margin-top: -670px;
  margin-left: 130px;
  height: 80px;
  width: 600px;
  background-color: rgb(250, 228, 231, 0.5);
  border: none;
}
.mcontent_modify{
  position: absolute;
  display: block;
  justify-content: center;
  text-align: left;
  align-items: center;
  padding: 15px;
  padding-bottom: 300px;
  margin-top: -590px;
  margin-left: 130px;
  height: 340px;
  width: 600px;
  border-radius: 0 0 15px 0;
  background-color: rgb(250, 228, 231);
  border: none;
}

.mlist_details5 ul li{
  margin-bottom: 5px;
}
.mlist_details5 li a{
  text-decoration-line: none;
  /* background-color: rgb(73, 73, 73, 0.3); */
  background-color: rgb(212, 220, 255);
  color: black;
}
.mlist_details5 li a:hover{
  background-color: rgb(174, 188, 252);
}
.schedule{
  text-decoration-line: none;
  /* position: absolute; */
  padding: 7px;
  margin-top: auto;
  border-radius: 5px;
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  color: rgba(0, 0, 0);
}
.schedule:hover{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  color: white;
  transition: background-color 0.3s ease;
}
/* .schedule:hover:active{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
} */

.mlist_details6 ul li{
  margin-bottom: 5px;
}

.mlist_details7 Input{
  /* position: absolute; */
  width: 600px;
  margin-top: 228px;
  margin-bottom: 5px;
  margin-left: -5px;
}
.mlist_details7 Button{
  position: absolute;
  margin-left: 605px;
  margin-top: -43px;
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  color: rgba(0, 0, 0);
}
.mlist_details7 Button:hover{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
  transition: background-color 0.3s ease;
}
.mlist_details7 Button:hover:active{
  background-color: rgba( 252, 158, 174, 0.5);
  border-color: pink;
}